body {
    background: url("/images/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #E33D00 !important;
}

.panel-danger {
    background-color: #1A2730;
    color: #E33D00;
}

.panel-heading {
    background-color: #0A0F12 !important;
    color: #E33D00 !important;
    text-align: center;
    font-weight: bold;
}

.panel-footer {
    background-color: #0A0F12;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.col-md-4 {
  padding: 10px 10px 10px 10px;
}

.table {
    background-color: #282C34;
    border-color: #E33D00;
    color: white !important;
    border: 2px solid #E33D00;
    width: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #E33D00;
}

.dashboard-btn {
    width: 115px;;
}

.table-responsive {
    width: 150%;
    height: 440px;
    overflow-y: auto;
}
