body {
    background: url("/images/pizza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.col-md-4 {
  padding: 10px 10px 10px 10px;
}

.name {
    padding-left: 5%;
    width: 25%;
}

.precioTamanno {
    padding-right: 5%;
}

.ingredientes {
    padding-left: 5%;
}
