<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Bebida</div>
        <form action="/Bebida/iniciarCreacion" method='POST'>
        <div class="panel-body">
            <h1>Ajustar Bebida:</h1>
            <div class="row">
                <div class="col-md-4">
                    <p>Seleccione la Bebida que desea:</p>
                    <div>
                        <select id="table1" name="bebida">
                            {{#each resBebidas}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <p>Seleccione el tamaño que desea:</p>
                    <div>
                        <select id="table2" name="tamanno">
                            {{#each resTamannoBebidas}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}                            
                        </select>
                    </div>                                                                                   
                </div>
                <div class="col-md-4">
                    <div class="div-group">
                        <label for="cantidad">Cantidad de bebidas:</label>
                        <input name="cantidad" type="text" class="form-control" id="cantidad" required>
                    </div>                           
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <a href="dashboard" class="btn btn-primary">
                        Cancelar
                    </a>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" name="addToCart" value="Añadir al carrito"> 
                </div> 
            </div>
        </div>
        </form>
    </div>		
</div>