<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Crear</div>
        <form method="POST" action="/CrearUnSaborFinal/finalizarUnSabor">
            <div class="panel-body">
                <h1>Ajustar Pizza:</h1>
                <div class="row">
                    <div class="col-md-4">
                        <p>Selecione los ingredientes que desea:</p>
                        <div class="table-responsive">
                            <table class= "table table-hover table-condensed table-bordered" id="tablePM">
                                <tr>
                                    <th>Ingrediente</th>
                                    <th>Agregar</th>
                                    <th>Extra</th>
                                </tr>
                                {{#each resIngredientes}}
                                    <tr name="ingrediente"> 
                                        <td>{{this}}</td>
                                        <td><input type="checkbox" name="ag-{{this}}"></td>
                                        <td><input type="checkbox" name="ex-{{this}}"></td>
                                    </tr>
                                {{/each}}                             
                            </table>
                        </div>                            
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cantidad">Cantidad de pizzas:</label>
                            <input name="cantidad" type="text" class="form-control" id="cantidad" required>
                        </div>                           
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4">
                        <a href="dashboard" class="btn btn-primary">
                            Cancelar Pedido
                        </a> 
                    </div>
                    <div class="col-md-4">
                        <a href="CrearPizzaMain" class="btn btn-primary">
                            Volver
                        </a> 
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" name="addToCart" value="Añadir al carrito"> 
                    </div> 
                </div>
            </div>
        </form>
    </div>		
</div>