<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Pizzas Especiales</div>
        <form id="quantity" action="/DosSaboresFinal/addQuantity" method="POST">

        </form>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cantidad">Cantidad de pizzas:</label>
                        <input form="quantity" type="text" class="form-control" id="cantidad" name="cantidad">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary floatRight">Cancelar Pedido</button>
                    <a href="/dashboard" class="btn btn-primary">
                      Cancelar Pedido
                    </a>
                </div>
                <div class="col-md-4">
                    <input form="quantity" type="submit" class="btn btn-primary" name="AnadirCarrito" value="Añadir al Carrito">
                </div>
            </div>
        </div>
    </div>
</div>
