<div class="signupbox">
<img src="/images/avatar.png" class="avatar">
    <h1>Sign Up Here</h1>
    <form action="/signup/registration" method="POST">
        <p>Name</p>
        <input type="text" name="Name" placeholder="Enter Name" required>
        <p>Phone Number</p>
        <input type="text" name="Phone" placeholder="Enter Phone Number" required>
        <p>Address</p>
        <input type="text" name="Address" placeholder="Enter Address" required>
        <p>Email</p>
        <input type="text" name="Email1" placeholder="Enter Email" required>
        <p>Re-type Email</p>
        <input type="text" name="Email2" placeholder="Enter Email" required>
        <input type="submit" name="signup" value="Sign Up">
    </form>
    <div id="button"><a class="btn btn-danger" href="/login">Go Back</a></div>
    <p> {{ resp }} </p>
</div>
